<div class="notifications" [@listAnimation]>
  <div *ngFor="let notification of notifications; index as index"
       class="notification notification--{{notification.type}}">
    <i *ngIf="notification.type === 'warning'"
       class="notification__icon material-icons">warning</i>
    <i *ngIf="notification.type === 'info' || notification.type === 'alert'"
       class="notification__icon material-icons">info</i>
    <i *ngIf="notification.type === 'success'"
       class="notification__icon material-icons">check_circle</i>
    <div class="notification__text">
      {{ notification.text }}
    </div>
    <i class="notification__close material-icons" (click)="removeNotification(index)">close</i>
  </div>
</div>
