.notifications {
  position: fixed;
  bottom: 30px;
  left: 15px;
}

.notification {
  width: 300px;
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 5px;
  margin: 16px 0;
  font-weight: 500;
  &__text {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-size: 14px;
    flex: 1 0 auto;
    margin-right: 20px;
  }
  &__close {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
  }
  &--warning {
    background-color: #f44336;
    color: #fff;
    .notification {
      &__icon {
        color: #fff;
      }
      &__close {
        color: #fff;
      }
    }
  }
  &--alert {
    background-color: orange;
    color: rgba(0, 0, 0, 0.7);
    .notification {
      &__icon {
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }
  &--success {
    background-color: #4caf50;
    color: #fff;
    .notification {
      &__close {
        color: #fff;
      }
    }
  }
  &--info {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.7);
    .notification {
      &__icon {
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }
  &__icon {
    margin-right: 10px;
    color: #fff;
  }
}
