<div class="calendar">
  <div class="calendar__header header">
    <div *ngFor="let label of calendarLabels" class="header__label">
      {{ label }}
    </div>
  </div>
  <div *ngFor="let week of displayMonth; index as i" class="calendar__row row">
    <div
      *ngFor="let day of week"
      class="row__day"
      [ngClass]="{
        'row__day--not-current': !day.isInCurrentMonth,
        'row__day--today': day.isToday
      }"
    >
      {{ day.day | dfnsFormat: 'DD' }}
    </div>
  </div>
</div>
