@import 'src/assets/scss/variables';

$border-color: #e0e0e0;

.calendar {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: $border-color 1px solid;

  .header {
    width: 100%;
    display: flex;
    flex: 1 1 0;
    max-height: 22px;

    &__label {
      flex: 1 1 0;
      display: inline-block;
      text-align: left;
      padding: 5px 0 0 8px;
      border-right: $border-color 1px solid;
      font-size: 14px;
      vertical-align: bottom;
      color: #757575;

      &:last-of-type {
        border: none;
      }
    }
  }

  .row {
    width: 100%;
    display: flex;
    flex: 1 1 0;
    border-bottom: $border-color 1px solid;

    &:last-of-type {
      border: none;
    }

    &__day {
      flex: 1 1 0;
      display: inline-block;
      text-align: left;
      padding: 0 0 0 8px;
      line-height: 32px;
      font-size: 14px;
      font-weight: 400;
      color: #212121;
      border-right: $border-color 1px solid;

      &--not-current {
        background-color: #f0f0f0;
      }

      &--today {
        color: $primary;
        font-weight: 600;
        font-size: 18px;
      }

      &:last-of-type {
        border: none;
      }
    }
  }
}
