@import '../../../assets/scss/variables';

.navigation {
  background-color: $primary;
  color: $on-primary;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  &__spacer {
    flex-grow: 1;
  }
}
