.form {
  width: 100%;
  &__title {
    text-align: center;
  }
  &__input {
    width: 100%;
  }
  .buttons {
    margin-top: 15px;
    text-align: center;
    &__button {
      margin: 0 10px;
      width: 150px;
    }
  }
}
